<form [formGroup]="charFormGroup" (ngSubmit)="onChar()">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="input-field col s6">
                    <input id="charName" formControlName="charName" type="text" placeholder="Name your character">
                    <p class="red-text text-darken-1" *ngIf="charFormGroup.controls.charName.touched && !charFormGroup.controls.charName.valid">Please enter your character's name</p>
                </div>
                <div class="input-field col s6">
                    <select id="charArch" formControlName="charArch">
                        <option value="">Select your archetype</option>
                        <option value="Human">Human</option>
                        <option value="Droid">Droid</option>
                    </select>
                    <p class="red-text text-darken-1" *ngIf="charFormGroup.controls.charArch.touched && !charFormGroup.controls.charArch.valid">Please select your character's archetype</p>
                </div>
            </div>
        </div>


    </div>
</form>
<div class="card">
    <div class="card-content">
        <button class="btn">Male</button>
        <button class="btn">Female</button>
        <button class="btn">Other</button>
        <button class="btn">All</button>
    </div>
    <div class="card-content">
        <span *ngIf="archType">You have selected: <strong>{{archType.name}}</strong> ({{archType.race}})</span>
    </div>
</div>
<div class="row">
    <div class="col s4" *ngFor="let char of chars | async">
        <arch-type [archtype]="char" [showselect]="charFormGroup.valid" (selectArchType)="setArchType($event)"></arch-type>
    </div>
</div>